body {
    background-color: #3C3C3C;
    color           : #ECECEC;
    font-family     : 'Cabin', 'sans-serif';
}

.logo {
    height: 40pt;
    margin: 0pt;
}

.logo_div {
    margin : 10pt;
    display: table;
}

.logo_text {
    display       : table-cell;
    vertical-align: middle;
    margin        : 0;
    font-size     : 25pt;
}

.input {
    margin-top: 20pt;
}

.input-div {
    margin-left: 20pt;
}

.chip {
    background-color: #969696;
}

#buttons {
    margin-top: 30pt;
}

button {
    height: 30px;
    margin-right: 10px;
}



.mdc-button.clearRipple .mdc-button__ripple::before, .mdc-button.clearRipple .mdc-button__ripple::after {
    background-color: #ce0026 !important;
}

.mdc-button.copyRipple .mdc-button__ripple::before, .mdc-button.copyRipple .mdc-button__ripple::after {
    background-color: #00c907 !important;
}

.material-icons {
    font-family   : 'Material Icons';
    font-weight   : normal;
    font-style    : normal;
    font-size     : 24px;
    /* Preferred icon size */
    display       : inline-block;
    line-height   : 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap     : normal;
    white-space   : nowrap;
    direction     : ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering        : optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}