body {
    background-color: #3C3C3C;
    color           : #ECECEC;
    font-family     : 'Cabin', 'sans-serif';
}

/*input {
    background-color: #5a5a5a;
}*/

.logo {
    height: 40pt;
    margin: 0pt;
}

.logo_div {
    margin : 10pt;
    display: table;
}

.logo_text {
    display       : table-cell;
    vertical-align: middle;
    margin        : 0;
    font-size     : 25pt;
}

.input {
    margin-top: 20pt;
}

.input-div {
    margin-left: 20pt;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }