:root {
    --font-color     : #ECECEC;
    --light-grey     : #939393;
    --dark-grey      : #2b2b2b;
    --highlight-color: #10ced4;
}

body {
    background-color: #3C3C3C;
    color           : var(--font-color);
    font-family     : 'Cabin', 'sans-serif';
}

.hover-image {
    --height         : calc(679px / 4.5);
    --width          : calc(886px / 4.5);
    background       : none;
    background-repeat: no-repeat;
    height           : var(--height);
    width            : var(--width);
    background-size  : var(--width) var(--height);
}

.hover-image:hover {
    background-image: url("schweininchen.png") !important;
}

.logo {
    height: 40pt;
    margin: 0pt;
}

.top-div {
    position        : fixed;
    background-color: #3c3c3c;
    width         : 100%;
    /* border-bottom: thin solid white; */
}

.top {
    vertical-align: middle;
}

.logo_div {
    margin : 10pt;
    display: table;
}

.logo_text {
    display       : table-cell;
    vertical-align: middle;
    margin        : 0;
    font-size     : 25pt;
}

.input {
    margin-top: 20pt;
}

.input_field {
    color      : var(--font-color) !important;
    caret-color: var(--font-color) !important;
}

.input-div {
    margin-top: 100px;
    width     : fit-content;
    position  : absolute;
    left      : 50%;
    transform : translateX(-50%);
}

.mdc-text-field-helper-line {
    padding-right: 0px !important;
    margin-right : 0px;
    max-width    : 384px;
}

.chip {
    background-color: var(--light-grey);
    color           : var(--dark-grey);
}

#buttons {
    margin-top     : 30pt;
    display        : flex;
    justify-content: space-around;
}

button {
    height      : 30px;
    margin-right: 10px;
}

.mdc-tab__text-label {
    text-transform: none;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: var(--light-grey);
}

.mdc-button.clearRipple .mdc-button__ripple::before,
.mdc-button.clearRipple .mdc-button__ripple::after {
    background-color: #ce0026 !important;
}

.mdc-button.copyRipple .mdc-button__ripple::before,
.mdc-button.copyRipple .mdc-button__ripple::after {
    background-color: #00c907 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__trailing,
.mdc-text-field--textarea:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__trailing,
.mdc-text-field--textarea:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__leading,
.mdc-text-field--textarea:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid).mdc-text-field--focused .mdc-notched-outline__notch {
    border-color: var(--highlight-color) !important;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
    color: var(--highlight-color) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not(.mdc-text-field--invalid) .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not(.mdc-text-field--invalid) .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):not(.mdc-text-field--invalid) .mdc-notched-outline__trailing {
    border-color: var(--dark-grey);
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: hsl(182, 86%, 20%) !important;
}



.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--invalid:not(.mdc-text-field--disabled):not(.mdc-text-field--focused):hover .mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: #d13b00;
}

.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: var(--light-grey) !important;
}

.mdc-text-field--invalid:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: rgb(168, 0, 0) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: unset !important;
}

.snackbar--positive:not(.snackbar--negative) .mdc-snackbar__label {
    color: #00ab07;
}

.snackbar--positive:not(.snackbar--negative) .mdc-snackbar__surface {
    border: 1px solid #00ab07;
}

.snackbar--negative:not(.snackbar--positive) .mdc-snackbar__label {
    color: #ad001f;
}

.snackbar--negative:not(.snackbar--positive) .mdc-snackbar__surface {
    border: 1px solid #ad001f;
}

.material-icons {
    font-family   : 'Material Icons';
    font-weight   : normal;
    font-style    : normal;
    font-size     : 24px;
    /* Preferred icon size */
    display       : inline-block;
    line-height   : 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap     : normal;
    white-space   : nowrap;
    direction     : ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering        : optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}